.summary {
	text-align: left;
}

.filters-cntnr {
	white-space: nowrap;
	padding: 15px;
	width: '100%';
	overflow-x: scroll;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
  background: white;
  z-index: 1;
  max-width: 600px;
  margin: auto;
}

.list-cntnr{
  padding-top: 70px;
}

.filter-item {
	margin-right: 10px !important;
}

.content{
  max-width: 600px;
  margin: auto;
}

.loader-cntnr{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}